.ui-button {
	@extend .transition;

	padding: 1em 2em;
	text-transform: uppercase;
	color: white;
	background: $secondary;
	border: none;
	font-weight: bold;
	outline: none;
	display: inline-block;

	&:hover,
	&:active,
	&:focus {
		color: white;
		text-decoration: none;
		background: lighten($secondary, 5%);
	}
}