.card-carousel {
	.card {
		margin: 0 15px;
	}
}

.card-carousel-nav {
	margin-top: 1em;

	button {
		border: none;
		background: $medium-grey;
		color: $text;
		padding: 4px 10px;
		outline: none;

		&:hover {
			background: $secondary;
			color: white;
		}
	}
}

.card {
	background: $medium-grey;

	a { text-decoration: none; }

	.card-img {
		max-width: 100%;
		height: auto;
		display: block;
	}

	.card-body {
		padding:2em;

		.card-heading {
			margin:0;
			@extend .transition;

			a {
				color: $primary;

				&:hover {
					color: $secondary;
				}
			}
		}

		.card-sub {
			font-size: 0.875em;
			color: $text;
		}

		.card-read-more {
			color: $primary;
		}
	}
}

.card:hover {
	.card-heading {
		color: $secondary;
	}
}