.FormModal {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}

.FormModal__container {
	width: 95vw;
	max-width: 50em;
	position: absolute;
	background: $light-grey;
	margin: 20px auto;
	left: 0;
	right: 0;
	box-shadow: 0 10px 20px 3px rgba(0,0,0,0.3);
  z-index: 102;

  @media (max-width: 768px) {
    padding-bottom: 100px;
  }
}


.FormModal__header {
	background: $primary;
	padding: 0.875em 2em;
	color: white;
	position: relative;
	z-index: 2;
}

.FormModal__heading {
	font-weight: bold;
	color: white;
	margin: 0;
}

.FormModal__close {
	position: absolute;
	top: 4px;
	right: 10px;
	padding: 10px;
	cursor: pointer;
}

.FormModal__body {
	padding: 1em;
	position: relative;
	z-index: 3;
	background: $light-grey;
	overflow: auto;
	
	.container-fluid {
		overflow: scroll;
	}
}

.FormModal__overlay {
	background: rgba(0,0,0,0.8);
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 100;
}

@media (min-width: $small) {
	.FormModal {

		&__container {
			width: 75vw;
			height: auto;
		}

		&__body {
			padding: 2em;
		}
	}
}