.Pagination {

}

.Pagination__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  font-weight: bold;
}

.pagination > li > a, .pagination > li > span {
  color: $primary;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $primary;
  border-color: $primary;
  color: white;
}