.PropertyResults {

}

@media (min-width: 580px) {
	.PropertyResults {
		.col-sm-6 {
			width: 50%;
			float: left;
		}
	}
}

@media (min-width: 992px) {
	.PropertyResults {
		.col-sm-6 {
			width: 33.33%;
			float: left;
		}
	}
}