.PropertyListing {

	&__header {
		background: $light-grey;
		padding: 1rem;
		line-height: 1;
		margin-bottom: 1em;
	}

	&__heading,
	&__price,
	&__subheading {
		font-size: 2em;
		font-weight: bold;
		margin: 0;
		color: $text-dark;
	}

	&__heading,
	&__subheading {
		display: inline;
	}

	&__price {
		margin-right: 1em;
	}

	&__pricing {
		display: flex;
		align-items: center;
	}

	&__slider {
		overflow: hidden;
	}
}

.Room {
	&__heading {
		font-size: 1rem;
		color: $text;
		text-transform: none;
		margin-bottom: 0;
	}
}