.property-search {
	//margin-top: 2em;
	z-index: 1000;
	position: relative;
	//box-shadow: 4px 4px 15px rgba(0,0,0,0.5);

	header {
		background: rgba(44, 51, 66, 1);
		color: white;
		padding: 1em;

		.col-md-6:last-of-type {
			text-align: right;
		}

		.title {
			@extend .heading;
		}

		.property-type {
			font-size: 15px;

			a {
				@extend .heading;
				@extend .transition;
				color: white;

				&:after {
					content: '//';
					padding-left: 5px;
					color: white !important;
				}
			}

			a:last-of-type:after {
				content: '';
				padding-left: 0;
			}

			a.active,
			a:hover,
			a:active,
			a:focus {
				color: $secondary;
				text-decoration: none;
			}
		}
	}

	main {
		padding: 1em;
		background: rgba(238, 238, 238, 0.95);

		input {
			width: 100%;
			margin-bottom: 1em;
			padding: 0.69em 1em;
			font-size: 1em;
			border:1px solid white;
		}
	}

	.ui-button.search {
		padding: 0.75em 2em;
		display: block;
		width: 100%;
	}


}

.search.property {
	margin: 2em 0;
}

.search-toggle {
	background: $light-grey;
	font: bold 1.25em $font-heading;
	text-transform: uppercase;

	.col-md-12 {
		display: flex;
		align-items: center;
	}

	span {
		flex: 1;
	}

	.title {
		padding: 0.5em 0;
	}

	.search-toggle-trigger {
		background: #D6DBDE;
		margin-left: auto;
		flex-grow: 0;
		min-width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&.active {
			i:before {
				content: '\f077';
			}
		}
	}
}

@media (min-width: 768px) {
	.property-search {
		header {
			padding: 1em 2em;
		}

		main {
			padding: 2em 2em 1em 2em;
		}
	}
}
