.Property {
	margin-bottom: 2em;

	a {
		display: block;
		overflow: hidden;
		text-decoration: none;
	}

	&:hover {
		.Property__image {
			transform: scale(1.03);
		}
	}
}

.Property__image-wrapper {
	max-width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.Property__heading {
	margin-bottom: 0;
	color: white;
}

.Property__image {
	width: 100%;
	height: 300px;
	@extend .transition;
}

.Property__footer {
	background: $primary;
	padding: 1em;
	color: white;
}

.Property__price {
	font-weight: bold;
	margin-top: 10px;
}

@media (min-width: 480px) {
	.Property {
		&__image,
		&__image-wrapper {
			height: 350px;
		}
	}
}

@media (min-width: 580px) {
	.Property {
		&__image,
		&__image-wrapper {
			height: 250px;
		}
	}
}