.tag {
  padding: 5px 10px;
  border-radius: 12px;
  color: white;
  background-color: $dark-grey;
  font-size: 13px;
  font-weight: bold;

  &.is-sold {
    background-color: $secondary;
  }

  &.in-corner {
    position: absolute;
    padding: 10px 70px;
    top: 20px;
    right: -64px;
    font-size: 16px;
    z-index: 100;
    border-radius: 0;
    transform: rotate(45deg);
  }
}