/* Font Imports
========================================= */

	$font-web: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	$font-heading: "Gotham", $font-web;
	$font-default: "Gotham", $font-web;

/* Global
========================================= */
	
	html, body {
		font-family: $font-default;
		font-size: 16px;
		line-height: 1.5;
		color: $text;
		-ms-text-size-adjust: 100%; /* 2 */
    	-webkit-text-size-adjust: 100%; /* 2 */
    	-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
	}

/* Headings
========================================= */
	
	h1, h2, h3, h4, h5, h6 {
		text-transform: uppercase;
		line-height: 1.5;
		color: $primary;
		font-weight: bold;
		margin:0 0 1em 0;
	}

	h2, h3, h4, h5, h6 {
		font-size: 1.125em;
	}

/* Heading Styles
========================================= */

	.heading {
		text-transform: uppercase;
		font-weight: bold;

		&--mt {
			margin-top: 1em;
		}
	}

/* Paragraphs
========================================= */

	p {
		margin: 0 0 10px 0;
	}

	p, address {
		font-size: 0.9375em;
	}

/* Links
========================================= */

	a {
		color: $text;
		text-decoration: none;

		&:hover {
			color: inherit;
		}
	}

/* Lists
========================================= */

	ul {
		font-size: 0.9375em;
		margin-bottom: 10px;
	}

/* Horizontal Rules
========================================= */

	hr {
		height: 3px;
		width: 20px;
		margin: 1em 0 3em 0;
		border: 0 none;
		background: $primary;
	}