// Colour Palette
$primary: #2c3342;
$secondary: #ed1c24;
$text: #6d6e71;
$text-dark: #333;

$light-grey: #eee;
$medium-grey: #d6dbde;
$dark-grey: #6d6e71;

// Breakpoints
$small: 768px;
$medium: 992px;
$large: 1200px;