/* Libraries
========================================= */
	
	@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
	@import "node_modules/font-awesome/scss/font-awesome";
	@import "vendor/flexslider";
	@import "vendor/owl.carousel";
	@import "vendor/slideme";

/* UI
========================================= */

	@import "components/reset";
	@import "components/variables";
	@import "components/typography";
	@import "components/forms";
	@import "components/buttons";
	@import "components/animation";
	@import "components/carousel";
	@import "components/property-search";
	@import "components/property-results";
	@import "components/property-card";
	@import "components/property-listing";
	@import "components/pagination";
	@import "components/form-modal";
	@import "components/utility";
	@import "components/preloader";
	@import "components/tag";

/* Breakpoints
========================================= */

	@import "breakpoints/base"; 
	
	@media (min-width: 480px) {
		@import "breakpoints/480up";
	}

	@media (min-width: 768px) {
		@import "breakpoints/768up";
	}

	@media (min-width: 992px) {
		@import "breakpoints/992up";
	}

	@media (min-width: 1200px) {
		@import "breakpoints/1200up";
	}