/* Site: Header
========================================= */

	.site-header {
		padding: 25px 0;
		text-align: left;
	}	


/* Site: Navigation
========================================= */

	.site-navigation {
		margin-top: 7px;

		li {
			display: inline-block;
			margin-left: 1em;
		}

		li:first-child {
			margin-left: 0;
		}
	}

/* Section: Article
========================================= */

	.section.article {
		article {
			vertical-align: text-top;
		}
	}

/* Section: Testimonials
========================================= */

	.section.testimonials {
		background-attachment: inherit;
		.section-header {
			hr {
				margin-bottom: 3em;
			}
		}
	}

	.testimonials-carousel {
		.testimonial {
			blockquote {
				padding: 2em 0 1em 0;
			}
		}
	}

/* Section: Masthead
========================================= */

	.masthead {

	}