img {
	max-width: 100%;
	height: auto;
}

/* Site: Page
========================================= */

	.page {
		@extend .transition;
	}

	.page--blur {
		filter: blur(5px);
	}

/* Site: Header
========================================= */

	.site-header {
		background: $primary;
		color: white;
		padding-top: 10px;
		position: relative;
		z-index: 100;
	}

/* Site: Navigation
========================================= */

	.site-navigation {

		li {
			list-style: none;
		}

		li a {
			color: white;
			text-decoration: none;
			font-size: 0.875em;
			font-weight: bold;
			text-transform: uppercase;
			@extend .transition;

			&:visited {
				color: white;
			}

			&:hover,
			&:focus,
			&:active {
				color: $secondary;
			}
		}
	}

	.mobile-site-navigation {
		display: none;

		li {
			list-style: none;
		}

		li a {
			color: white;
			text-decoration: none;
			font-size: 0.875em;
			font-weight: bold;
			text-transform: uppercase;
			padding: 8px 0;
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			display: block;
			@extend .transition;

			&:visited {
				color: white;
			}

			&:hover,
			&:focus,
			&:active {
				color: $secondary;
			}
		}
	}

	.mobile-nav-trigger {
		position: absolute;
		right: 20px;
		top: 0;
		color: white;
		display: block;
		padding: 5px;

		&:visited {
			color: white;
		}

		&:active,
		&:focus {
			color: $secondary;
		}
	}

/* Site: Footer
========================================= */

	.site-footer {
		.footer-upper {
			background: $light-grey;
			padding: 4em 0;

			a {
				color: $text;
			}
		}

		.footer-lower {
			background: $medium-grey;
			padding: 1em 0;

			p, a {
				margin: 0;
				font-size: 0.875rem;
				font-weight: bold;
				color: $primary;
			}

			a {
				display: block;
			}
		}

		.footer-nav {
			ul {
				list-style: none;
				
				a {
					text-decoration: none;
					color: $text;
				}
				
				a:hover {
					text-decoration: underline;
				}
			}
		}
	}

/* Section: Setup
========================================= */

	.section {
		padding: 4em 0;
		background: white;

		.section-header {
			&--mt {
				margin-top: 2em;
			}

			.section-heading {
				font-size: 1.125em;
			}
		}
	}

	.section.grey {
		background: $light-grey;
	}

/* Section: Masthead
========================================= */

	.masthead {
		height: 700px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;

		.slideme {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 700px;
			z-index: 1;

			li {
				background-size: cover;
				background-position: center bottom;
			}
		}
	}

/* Section: Featured Properties
========================================= */
	
	.section.featured-properties {
		background: $light-grey;
	}

/* Section: Agents
========================================= */

/* Section: Testimonials
========================================= */

	.section.testimonials {
		background: $secondary url(../images/testimonials.jpg) no-repeat center center;
		background-size: cover;
		background-attachment: fixed;
		color: white;

		.section-header {
			.section-heading {
				color: white;
			}

			hr {
				background: white;
				margin-bottom: 1em;
			}
		}
	}

	.testimonials-carousel {
		.testimonial {
			blockquote {
				border: none;
				padding: 1em 0 1em 0;
				margin: 0;
			}
			.client {
				font-weight: bold;
			}
		}
	}

/* Section: Blog
========================================= */

/* Section: Accreditations
========================================= */

	.section.accreditations {
		background: $primary;
		color: white;
		border-bottom: 10px solid white;
		text-align: center;

		.section-header {
			text-align: left;

			.section-heading {
				color: white;
			}

			hr {
				background: white;
			}
		}

		img {
			max-width: 100%;
			height: auto;
			margin-bottom: 1em;
		}
	}

/* Section: Callouts
========================================= */
	
	.callouts {
		padding-bottom:0;
	}

	.callout {
		margin-bottom: 4em;

		.callout-icon {
			text-align: center;
		}

		.callout-heading {
			color: $text;
			margin-top: 1em;
			transition: all 0.3s ease;
		}

		hr {
			width: 3em;
			height: 3px;
			background: $text;
			margin: 1em auto 1em auto;
			transition: all 0.3s ease;
		}

		.callout-desc {
			text-align: center;
		}

		a {
			display: block;
		}

		a:hover {
			text-decoration: none;
			color: $secondary;
		}
	}

	.callout:hover {
		.callout-heading {
			color: $secondary;
		}

		hr {
			background: $secondary;
			width: 3.5em;
		}
	}

/* Page: Property Single
========================================= */

	.flexslider {
		margin-bottom: 0;
	}

/* Page: Contact
========================================= */

	.branch {
		margin-bottom: 2em;

		a {
			color: $text;
		}
	}